{% extends "common/base.html" %}

{% block content %}
<!-- Home Render -->
    <div class="daily-view view overflow-y-auto flex flex-col justify-around">
        <h1>Quick Info</h1>
        <h2>
           You have <b>{{ qtt_ongoing_hour }} pending</b> appointments scheduled to the next hour.
        </h2>
        <hr>
        <h2>
           You have <b>finished {{ qtt_finished_today }}</b> appointments today.
        </h2>
        <hr>
        <h2>
           You've had <b>R$ {{ value_revenue_today }}</b> of total revenue today.
        </h2>
    </div>

    {% include "components/appointments-view.html" %}

    {% include "components/workers-view.html" %}
{% endblock content %}