{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Django Tailwind</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% tailwind_css %}
    </head>

    <body class="bg-gray-50 text-black font-serif leading-normal tracking-normal">
        <header>
            <div class="wrapper">
                <h1>
                    Home - Saloon Management
                </h1>
            </div>
        </header>

        <div class="wrapper container mx-auto">
            <section class="flex items-center justify-center">
                <h1 class="text-5xl">Django + Tailwind = ❤️</h1>
            </section>
        </div>

        <footer>
            <div class="wrapper">
                <p>Hi</p>
                <p>Hello</p>
                <p>Olá</p>
            </div>
        </footer>
    </body>
</html>
