{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {{ title }} - Saloon Management
        </title>
        <meta charset="UTF-8">
        <meta name="description" content="Management Page for the Saloon (fictional)">
        <meta name="keywords" content="saloon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% tailwind_css %}
    </head>

    <body class="bg-gray-50 text-black font-serif leading-normal tracking-normal">
        <header>
            <div class="wrapper header-content">
                <h1>
                    {{ title }}<span id="mgmt-title"> - Saloon Management</span>
                </h1>
                <nav>
                    {% comment %} TODO {% endcomment %}
                </nav>
            </div>
        </header>

        <section class="main-content">
            <div class="wrapper flex flex-col justify-evenly container">
                {% if baseRender %}
                    <h2 class="place-self-center">Django + Tailwind = ❤️</h2>
                {% elif childRender %}
                    {% block content %}
                    {% endblock content %}
                {% endif %}
            </div>
        </section>

        <footer>
            <div class="wrapper footer-content">
                <p>Hi</p>
                <p>Hello</p>
                <p>Olá</p>
            </div>
        </footer>
    </body>
</html>
