{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {{ title }} - Saloon Management
        </title>
        <meta charset="UTF-8">
        <meta name="description" content="Management Page for the Saloon (fictional)">
        <meta name="keywords" content="saloon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="{% static "imgs/icons/kiss.png" %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap" rel="stylesheet">
        {% tailwind_css %}
        {% block head %}{% endblock head %}
    </head>

    <body class="bg-gray-50 text-black font-serif leading-normal tracking-normal">
        <header>
            <div class="wrapper header-content">
                <a class="header-title" href="{% url "home" %}">
                    <img src="{% static "imgs/icons/kiss.png" %}" alt="saloon icon" width="32" height="auto">
                    <h1>
                        {{ title }}<span id="mgmt-title"> - Saloon Management</span>
                    </h1>
                </a>
                {% include "common/nav-bar.html" %}
            </div>
        </header>

        <section class="main-content">
            <div class="wrapper flex flex-col justify-evenly container">
                {% if baseRender or not childRender %}
                    <h2 class="place-self-center">Django + Tailwind = ❤️</h2>
                {% elif childRender %}
                    {% block content %}
                    {% endblock content %}
                {% endif %}
            </div>
        </section>

        <footer>
            {% include "common/footer-nav.html" %}
        </footer>
    </body>
</html>
