<div class="wrapper" id="footer-nav-bar">
    <button><a href="https://www.linkedin.com/in/atilalimadev/">
        @Átila Lima, 2025
    </a></button>
    <button><a href="{% url "schedule-appointment" %}">
        Schedule Appointment
    </a></button>
    <button><a href="{% url "admin-redirection" %}">
        Admin
    </a></button>
    <button><a href="https://www.djangoproject.com/">
        Made with
        <img height="auto" width="50" class="inline" src="https://static.djangoproject.com/img/logos/django-logo-negative.1d528e2cb5fb.png" alt="django-icon">
    </a></button>
</div>