<nav id="nav-bar">
    {% if title != "Schedule an Appointment" %}
        {% if title != "Home" %}
            <button><a href="{% url "home" %}">
                Home
            </a></button>                    
        {% endif %}
        {% if title != "Workers" %}
        <button><a href="{% url "workers" %}">
            Workers
        </a></button>
        {% endif %}
        {% if title != "Clients" %}
            <button><a href="{% url "clients" %}">
                Clients
            </a></button>
        {% endif %}
        {% if title != "Appointments" %}
            <button><a href="{% url "appointments" %}">
                Appointments
            </a></button>
        {% endif %}
    {% endif %}
</nav>