<div class="appointments-view view">
    <div class="view-head">
        {% if title == 'Home' %}
            <h1>Appointments of the day</h1>
        {% endif %}
        <a href="{% url "schedule-appointment" %}">New</a>
    </div>
    <table>
        {% comment %} display small list view of all appointments w/ data {% endcomment %}
        <thead>
            <tr class="bg-pink-200">
                <th>Name</th>
                <th>Schedule</th>
                <th>Status</th>
                <th>Service</th>
                <th>Price</th>
                {% if title != 'Home' %}
                    <th>Client number</th>
                    <th>Assigned Worker</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for item in appointments %}
                <tr class="hover:bg-gray-50">
                    <td>{{ item.client.name }}</td>
                    <td>
                        {% if title == 'Home' %}
                            {{ item.date_scheduled|time:"H:i" }}
                        {% else %}
                            {{ item.date_scheduled|date:"d/M/Y H:i" }}
                        {% endif %}
                    </td>
                    <td>{{ item.get_status_display }}</td>
                    <td>{{ item.service.name }}</td>
                    <td class="whitespace-nowrap text-nowrap">R$ {{ item.service.price }}</td>
                    {% if title != 'Home' %}
                        <td>{{ item.client.phone_number|default:"Not registered" }}</td>
                        <td>{{ item.worker.name }}</td>
                    {% endif %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="1000" class="py-4 text-gray-500">No appointments found {% if title == "Home" %}<i>for today</i>{% endif %}.<br> Please add it at
                        <button class="animate-bounce hover:animate-none text-blue-600 hover:scale-150 transition-transform duration-150">
                            <a href="{% url "schedule-appointment" %}">
                                here
                            </a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>